@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?d8kt9v#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?d8kt9v') format('truetype'),
    /* url('fonts/icons.woff?d8kt9v') format('woff'), */
    url('../fonts/icons.svg?d8kt9v#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e900";
}
._icon-insta:before {
  content: "\e901";
}
._icon-Lin:before {
  content: "\e902";
}
._icon-tw:before {
  content: "\e903";
}
