/*TODO: ------HEADER-------- */
.menu__link-works {
    color: rgb(255, 100, 100);
}

/*TODO: ------WORKS-------- */
.works {
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.works__item:last-child {
    margin-bottom: 0;
}

